

$transition-sec:  transform .45s ease,width .45s ease,-webkit-transform .45s ease;
$landing-page-header-color: #0b3c64 ;
$landing-page-headerText-color: #d6d6d6;
$landing-page-subText-color: #8094ae ;